<main>
  <div class="container">
    <div class="row">
      <%= @post.spot.address %>
      <div class="show_maps", id="show_map", style="height: 300px; width: 400px;"></div>
    </div>
  </div>
</main>