<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <p>お気に入りのスポットを見つけて</p>
                <p>登録をして自分のお気に入りを集めよう！</p>
                <%= link_to '新規登録', new_user_registration_path, class:'btn btn-outline-dark m-1' %></br>
                <%= link_to '登録済みの方はこちら', new_user_session_path, class:'m-1' %>
            </div>
        </div>
    </div>
</main>